<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{- $title := ( .Title ) -}}
  {{- $siteTitle := ( .Site.Title ) -}}
  {{- if .IsHome -}}
  <title>{{ $siteTitle }} {{ if isset .Site.Params "subtitle" }}- {{ .Site.Params.Subtitle }}{{ end }} </title>
  {{- else -}}
  <title>{{ $title }} - {{ $siteTitle }}</title>
  {{- end -}}

  {{- if isset .Site.Params "favicon" -}}
  <link rel="icon" type="image/png" href={{ .Site.Params.favicon }} />
  {{- end -}}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{- template "_internal/schema.html" . -}}

  <link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/normalize.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/main.css" />
  {{- if isset .Site.Params "customcss" }}
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}{{ .Site.Params.customCSS }}" />
  {{ end }}

  <link id="dark-scheme" rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/dark.css" />
  {{- if isset .Site.Params "customdarkcss" }}
  <link id="dark-scheme" rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}{{ .Site.Params.customDarkCSS }}" />
  {{- end }}

  {{ if and (isset .Site.Params "social") (isset .Site.Params "feathericonscdn") (eq .Site.Params.featherIconsCDN true) -}}
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  {{- else if or (isset .Site.Params "social") (eq .Site.Params.mode "auto") (eq .Site.Params.mode "dark") -}}
  <script src="{{ .Site.BaseURL }}js/feather.min.js"></script>
  {{ end }}
  <script src="{{ .Site.BaseURL }}js/main.js"></script>
  {{- if isset .Site.Params "customjs" -}}
  {{- range .Site.Params.customJS }}<script src="{{ $.Site.BaseURL }}{{ . }}"></script>{{- end }}
  {{- end }}

  <!-- mathjax -->
  {{ if isset $.Site.Params "mathjax" }}
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.min.js"></script>
  <script>
   window.MathJax = {
     options: {
       enableMenu: false,
     },
     tex: {
       inlineMath: [['$', '$'], ['\\(', '\\)'], ['$$', '$$']]
     },
     chtml: {
       scale: 0.9,
       mtextInheritFont: true,
     },
     svg: {
       fontCache: 'global'
     }
   };
  </script>
  {{ end }}

  <script src="https://cdn.bootcdn.net/ajax/libs/pangu/4.0.7/pangu.min.js"></script>
  <script>
   document.addEventListener('DOMContentLoaded', () => {
     pangu.autoSpacingPage();
   });
  </script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">

  {{ if not .Site.IsServer }}
  <script type="module">
   import { getCLS, getFCP, getFID, getLCP, getTTFB } from 'https://unpkg.com/web-vitals@3?module';
   const vitalsUrl = 'https://vitals.vercel-analytics.com/v1/vitals';

   function getConnectionSpeed() {
     return 'connection' in navigator &&
            navigator['connection'] &&
            'effectiveType' in navigator['connection']
          ? navigator['connection']['effectiveType']
          : '';
   }

   function sendToAnalytics(metric, options) {
     const body = {
       dsn: {{ os.Getenv "VERCEL_ANALYTICS_ID" }}, // qPgJqYH9LQX5o31Ormk8iWhCxZO
       id: metric.id, // v2-1653884975443-1839479248192
       page: {{ .Page.RelPermalink }}, // /blog/[slug]
       href: location.href, // https://my-app.vercel.app/blog/my-test
       event_name: metric.name, // TTFB
       value: metric.value.toString(), // 60.20000000298023
       speed: getConnectionSpeed(), // 4g
     };

     if (options.debug) {
       console.log('[Analytics]', metric.name, JSON.stringify(body, null, 2));
     }

     const blob = new Blob([new URLSearchParams(body).toString()], {
       // This content type is necessary for `sendBeacon`
       type: 'application/x-www-form-urlencoded',
     });
     if (navigator.sendBeacon) {
       navigator.sendBeacon(vitalsUrl, blob);
     } else
       fetch(vitalsUrl, {
         body: blob,
         method: 'POST',
         credentials: 'omit',
         keepalive: true,
       });
   }

   function webVitals(options) {
     try {
       getFID((metric) => sendToAnalytics(metric, options));
       getTTFB((metric) => sendToAnalytics(metric, options));
       getLCP((metric) => sendToAnalytics(metric, options));
       getCLS((metric) => sendToAnalytics(metric, options));
       getFCP((metric) => sendToAnalytics(metric, options));
     } catch (err) {
       console.error('[Analytics]', err);
     }
   }

   webVitals({ debug: true });

  </script>
  {{ end }}

  <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
  <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
  <script>
   window.addEventListener('DOMContentLoaded', (event) => {
     new PagefindUI({ element: "#search", resetStyles: false });
   });
  </script>
</head>
